.sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}

.sidebar > p {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

.sidebar input {
  padding: 5px;
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--accent-two);
  border-radius: 5px;
}

.sidebar input[type="file"] {
  display: none;
}
