.sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
  font-size: 15px;
}

.sidebar h3 {
  margin-bottom: 10px;
}

.sidebar > p {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

.sidebar input {
  font-size: 15px;
  padding: 10px;
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--accent-two);
  border-radius: 5px;
}

.sidebar button {
  font-size: 15px;
  text-align: left;
  padding: 10px;
  width: 100%;
  border: none;
  /* border-bottom: 1px solid var(--accent-three); */
  box-shadow: 0px 4px 1px -4px var(--accent-three);
  border-radius: 5px;
  background: var(--accent-one);
  color: var(--accent-three);
}

.sidebar button:hover {
  background: var(--accent-two);
}

.sidebar input[type="file"] {
  display: none;
}

.edit-field {
  padding: 20px 0px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 5px;
}

.edit-field > span {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.edit-field > span > button {
  width: 45%;
}
