.form {
  display: flex;
  padding: 10px 0px;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  flex-direction: column;
}

.header-img {
  max-height: 250px;
}
.header-img > img {
  max-height: 250px;
  max-width: 100%;
}

.field-wrap {
  position: relative;
  max-width: 800px;
  border-radius: 5px;
  padding: 30px;
  width: 100%;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* box-shadow: 0 2px 6px -2px var(--accent-two); */
  border: 1px solid var(--accent-two);
}

.field-wrap label > div {
  padding: 10px;
}

.lbl-img {
  max-height: 200px;
  display: flex;
  justify-content: center;
}

.lbl-img > img {
  max-height: 200px;
  max-width: 100%;
}

.field-wrap label {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.field-wrap input {
  padding: 20px;
  font-size: 15px;
  border: none;
  border-bottom: 1px solid var(--accent-two);
  border-radius: 5px;
}

.req {
  color: red;
  font-size: 20px;
}

.not-req {
  color: transparent;
  font-size: 20px;
}

.controls {
  display: flex;
  gap: 10px;
  position: absolute;
  right: 30px;
  top: 30px;
}

.controls > svg {
  cursor: pointer;
}
