.comp-que {
  display: flex;
  gap: 5px;
  flex-direction: column;
}

.mcqs,
.mcq-que {
  display: flex;
  gap: 5px;
  flex-direction: column;
  padding: 5px;
  border: 1px solid var(--accent-two);
  border-radius: 5px;
}

.option {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.option-circle {
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  height: 12px;
  width: 12px;
  background: var(--accent-two);
  border-radius: 50%;
  cursor: pointer;
}

.option-circle > span,
.option-circle.selected > span {
  background: var(--accent-two);
  height: 6px;
  width: 6px;
  border-radius: 50%;
}

.option-circle.selected > span {
  background-color: var(--accent-three);
}
